// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin full-view{
  width: 100%;
  height: 100vh;
}

@mixin center-element{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin around-element{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin navbar-component{
  width: 100%;
  height: 60px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40px;
  height: 20px;
}

@mixin input-text{
  margin: 0 5px;
  border: none;
  border-radius: 0.5em;
  outline: 0;
  background: var(--gray);
  padding: 7px 12px;
}

